#ca-certificates
#certifi
#libcxx
#libedit
#libffi
#ncurses
#openssl
#pip=20.3.3
#readline
#setuptools
#sqlite
#tk
#tzdata
#wheel
#xz
#zlib
appnope==0.1.2
backcall==0.2.0
chardet==4.0.0
click==7.1.2
decorator==4.4.2
filelock==3.0.12
flask
idna==2.10
ipython==7.20.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
jinja2==2.11.3
joblib==1.0.1
markupsafe==1.1.1
numpy==1.20.1
packaging==20.9
pandas
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.14
ptyprocess==0.7.0
pygments==2.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
scikit-learn
scipy
six==1.15.0
sklearn
threadpoolctl==2.1.0
tokenizers==0.10.1
torch
tqdm
traitlets==5.0.5
transformers==4.3.2
typing-extensions==3.7.4.3
urllib3==1.26.3
wcwidth==0.2.5
werkzeug==1.0.1
flask-wtf
Flask-Bootstrap
gevent